In [10]:
import pandas as pd
import matplotlib.pyplot as plt
from datasets import load_dataset

dataset = load_dataset('lukebarousse/data_jobs')

In [11]:
df = dataset['train'].to_pandas()
df['job_posted_date'] = pd.to_datetime(df['job_posted_date'])

In [17]:
df.loc[:, ['salary_rate', 'salary_hour_avg']].dropna(subset='salary_hour_avg')

       salary_rate  salary_hour_avg
43            hour        97.500000
51            hour        72.500000
253           hour        88.000000
294           hour        52.500000
340           hour        67.500000
...            ...              ...
784068        hour        54.420002
784267        hour        61.159996
785111        hour        61.159996
785476        hour        47.620003
785492        hour        47.620003

[10662 rows x 2 columns]