In [1]:
import pandas as pd
import matplotlib.pyplot as plt
from datasets import load_dataset

dataset = load_dataset('lukebarousse/data_jobs')
df = dataset['train'].to_pandas()
df['job_posted_date'] = pd.to_datetime(df['job_posted_date'])

In [4]:
median_salary_hour = df['salary_hour_avg'].median()
median_salary_year = df['salary_year_avg'].median()

In [6]:
df_filled = df
df_filled['salary_year_avg'] = df_filled['salary_year_avg'].fillna(median_salary_year)
df_filled['salary_hour_avg'] = df_filled['salary_hour_avg'].fillna(median_salary_hour)

df_filled.loc[:10, 'salary_year_avg':'salary_hour_avg']

    salary_year_avg  salary_hour_avg
0          115000.0            45.98
1          115000.0            45.98
2          115000.0            45.98
3          115000.0            45.98
4          115000.0            45.98
5          115000.0            45.98
6          115000.0            45.98
7          115000.0            45.98
8          115000.0            45.98
9          115000.0            45.98
10         115000.0            45.98

In [9]:
df_unique = df_filled.drop_duplicates()
print(f'Rows dropped: {len(df_filled) - len(df_unique)}')

Rows dropped: 101

In [13]:
df_unique = df_unique.drop_duplicates(subset=['job_title','company_name'])
print(f'Rows dropped: {len(df_filled) - len(df_unique)}')

Rows dropped: 277699