In [1]:
import pandas as pd
import matplotlib.pyplot as plt
from datasets import load_dataset

dataset = load_dataset('lukebarousse/data_jobs')
df = dataset['train'].to_pandas()
df['job_posted_date'] = pd.to_datetime(df['job_posted_date'])

In [22]:
pivot = df.pivot_table(index='job_country', values='salary_year_avg', columns='job_title_short', aggfunc='median')
top_countires = df['job_country'].value_counts().head(6).index

job_titles = ['Data Analyst', 'Data Engineer', 'Data Scientist']

pivot_table = pivot.loc[top_countires, job_titles]
pivot_table
#pivot_table.plot(kind='bar')

job_title_short  Data Analyst  Data Engineer  Data Scientist
job_country
United States         90000.0       125000.0        130000.0
India                100500.0       147500.0        114008.0
United Kingdom        87750.0       110000.0        105300.0
France                69175.0        98301.5         88128.0
Germany              103750.0       147500.0        131560.0
Spain                 91977.0       133000.0         88128.0