In [1]:
import pandas as pd
import matplotlib.pyplot as plt
from datasets import load_dataset

dataset = load_dataset('lukebarousse/data_jobs')
df = dataset['train'].to_pandas()
df['job_posted_date'] = pd.to_datetime(df['job_posted_date'])

In [12]:
df_serbia = df[df.job_country == 'Serbia']
df_serbia.reset_index(inplace=True)
df_serbia = df_serbia.drop(columns='index')
df_serbia.set_index('search_location', inplace=True)
df_serbia.reset_index(inplace=True)
df_serbia

,search_location,job_title_short,job_title,job_location,job_via,job_schedule_type,job_work_from_home,job_posted_date,job_no_degree_mention,job_health_insurance,job_country,salary_rate,salary_year_avg,salary_hour_avg,company_name,job_skills,job_type_skills
0,Serbia,Data Scientist,Data Scientist (DataLab Team),Anywhere,via LinkedIn,Full-time,True,2023-06-27 13:46:46,False,False,Serbia,None,NaN,NaN,Semrush,['python'],{'programming': ['python']}
1,Serbia,Data Engineer,Junior BI & Data Engineer,"Belgrade, Serbia",via LinkedIn,Full-time,False,2023-07-06 13:22:30,False,False,Serbia,None,NaN,NaN,Global Engineering Technologies,"['sql', 'python', 'r', 'c#', 'java', 'sap', 'p...","{'analyst_tools': ['sap', 'power bi', 'ssrs', ..."
2,Serbia,Senior Data Scientist,Senior Data Scientist,"Belgrade, Serbia",via LinkedIn,Full-time,False,2023-06-07 13:57:31,False,False,Serbia,None,NaN,NaN,JAGGAER,"['python', 'aws', 'azure', 'gcp', 'tensorflow'...","{'async': ['jira'], 'cloud': ['aws', 'azure', ..."
3,Serbia,Business Analyst,Business Intelligence Analyst,"Belgrade, Serbia",via LinkedIn,Contractor,False,2023-04-19 13:18:41,False,False,Serbia,None,NaN,NaN,Felicons Limited Cyprus,None,None
4,Serbia,Data Analyst,Master Data Analyst,"Novi Sad, Serbia",via LinkedIn,Full-time,False,2023-11-05 13:57:35,False,False,Serbia,None,NaN,NaN,Hisense Europe,"['excel', 'spreadsheet']","{'analyst_tools': ['excel', 'spreadsheet']}"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1021,Serbia,Data Scientist,Data Scientist,Anywhere,via LinkedIn,Full-time,True,2023-06-13 01:40:40,False,False,Serbia,None,NaN,NaN,AffinityX,"['python', 'java', 'sql', 'cassandra', 'aws', ...","{'analyst_tools': ['tableau'], 'cloud': ['aws'..."
1022,Serbia,Data Analyst,"Data Analyst, gt.school (Remote) - $30,000/yea...",Anywhere,via LinkedIn,Full-time,True,2023-07-05 01:23:23,True,False,Serbia,None,NaN,NaN,Crossover,"['python', 'javascript']","{'programming': ['python', 'javascript']}"
1023,Serbia,Data Scientist,Lead Data Consultant,"Belgrade, Serbia",via Jobs Trabajo.org,Full-time,False,2023-06-27 01:46:28,False,False,Serbia,None,NaN,NaN,Zühlke,None,None
1024,Serbia,Data Engineer,Data Engineer,Anywhere,via LinkedIn,Full-time,True,2023-10-27 05:27:54,True,False,Serbia,None,NaN,NaN,ABBYY,"['powershell', 'git']","{'other': ['git'], 'programming': ['powershell']}"
1025,Serbia,Business Analyst,Business Analyst (Junior),"Belgrade, Serbia",via LinkedIn,Full-time,False,2023-09-19 22:09:18,False,False,Serbia,None,NaN,NaN,Clarivate,"['power bi', 'tableau']","{'analyst_tools': ['power bi', 'tableau']}"